<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152071741181-c6666jlbsi2dpnq1r3fiv2967qmfsov9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152071741181-c6666jlbsi2dpnq1r3fiv2967qmfsov9</string>
	<key>API_KEY</key>
	<string>AIzaSyC6jXyS2lOSsGujyGkz9nEwKN_GCIptazc</string>
	<key>GCM_SENDER_ID</key>
	<string>152071741181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.eldaniz.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-7dd82</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-7dd82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152071741181:ios:cd61d5e693f63bb5312894</string>
</dict>
</plist>